/* Page colors */
$logo-nav-foo: #fff;
$background-page: #333;
$over: #ffcc00;
$box-shadow: rgba(0, 0, 0, 0.1);
$download-link-color: rgba(255, 255, 255, 0.5);
$p-color: #666;
$description: #0088cc;

/* Header */
#header {
  background-color: $background-page;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: $logo-nav-foo;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
  border: 2px solid $logo-nav-foo;
  border-radius: 10px;
  padding: 10px;
}

.logo:hover {
  color: $over;
}

.logo i {
  margin-right: 10px;
}

/* Navbar */
.navbar ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
  margin: 0; 
}

.navbar ul li {
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  color: $logo-nav-foo;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: $over;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a.active {
  font-weight: bold;
  color: $over;
}

/* Navbar Link Styles */
.navbar a {
  color: $logo-nav-foo;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: $over;
}

.navbar a.active {
  font-weight: bold;
}

/* Menu toggle */
.menu-toggle {
  display: flex;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Content*/
.content {
  text-align: center;
}

.content h2 {
  font-family: 'Arial', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: $background-page;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.content p {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 600px;
  font-size: large;
}

.fa-bars {
  transform: rotate(0deg);
}

.fa-times {
  transform: rotate(90deg);
}

/* GitHub icon */
.github .fab.fa-github{
  font-size: 50px;
  color: $background-page;
}

.github:hover .fab.fa-github {
  color: $over;
}

/* About me page */
.content-about > h1, h2{
  text-align: center;
}

.content-about > p {
  text-align: justify;
  font-size: large;
}

.prom-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.prom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prom-icon i {
  font-size: 30px;
  margin-bottom: 5px;
}

/* Projects container */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: $background-page;
  background-color: $logo-nav-foo;
  border-radius: 10px;
  box-shadow: 0 4px 8px $box-shadow;
  transition: transform 0.3s ease;
}

.projects-container a:hover {
  transform: scale(1.05);
  color: $over;
}

/* Projects pages */
.single-project-container > *:not(.description) {
  text-align: center;
}

.description {
  text-align: justify;
  text-align-last: center;
}

.single-project-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: $logo-nav-foo;
  box-shadow: 0 4px 8px $box-shadow;
}

.single-project-container h1 {
  font-size: 24px;
  color: $background-page;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.single-project-container h2 {
  font-size: 20px;
  color: $background-page;
  margin-bottom: 10px;
}

.single-project-container p {
  font-size: 16px;
  color: $p-color;
  line-height: 1.6;
  margin-bottom: 20px;
}

.single-project-container h3 {
  font-size: 18px;
  color: $background-page;
  margin-bottom: 10px;
}

.single-project-container .description strong {
  font-weight: bold;
  color: $description;
}

.single-project-container .description a {
  color: $description;
  text-decoration: none;
}

.single-project-container .description a:hover {
  text-decoration: underline;
}

.download-link {
  display: inline-block;
  padding: 20px;
  background-color: lightgray;
  background-size: cover;
  color: $logo-nav-foo;
  text-decoration: none;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease, transform 0.4s ease;
}

.download-link:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: $download-link-color;
  border-radius: 50%;
  transition: width 0.4s ease, height 0.4s ease, top 0.4s ease, left 0.4s ease;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.download-link:hover {
  color: $over;
  transform: scale(0.9);
}

.download-link:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
}

/* Footer */
.footer {
  background-color: $background-page;
  color: $logo-nav-foo;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .navbar ul {
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    display: none;
  }

  .navbar ul.active {
    display: flex;
    margin-top: 20px;
  }

  .menu-toggle {
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px;
    visibility: visible;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .prom-lang {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 342px) {
  .logo {
    font-size: 15px;
  }
}

@media screen and (max-width: 276px) {
  .logo {
    font-size: 12px;
  }
}