/* Page colors */
$logo-nav-foo: #fff;
$background-page: #333;
$over: #ffcc00;

/* Header */
#header {
  background-color: $background-page;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: $logo-nav-foo;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: color 0.5s ease;
  border: 2px solid $logo-nav-foo;
  border-radius: 10px;
  padding: 10px;
}

.logo:hover {
  color: $over;
}

.logo i {
  margin-right: 10px;
}

/* Navbar */
.navbar ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  list-style-type: none;
  margin: 0; 
}

.navbar ul li {
  margin-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  color: $logo-nav-foo;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: $over;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar ul li a.active {
  font-weight: bold;
  color: $over;
}

/* Navbar Link Styles */
.navbar a {
  color: $logo-nav-foo;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: $over;
}

.navbar a.active {
  font-weight: bold;
}

/* Menu toggle */
.menu-toggle {
  display: flex;
  visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Content*/
.content {
  text-align: center;
}

.content h2 {
  font-family: 'Arial', sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: $background-page;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.content p {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  max-width: 600px;
  font-size: large;
}

.fa-bars {
  transform: rotate(0deg);
}

.fa-times {
  transform: rotate(90deg);
}

/* GitHub icon */
.github .fab.fa-github{
  font-size: 50px;
  color: $background-page;
}

.github:hover .fab.fa-github {
  color: $over;
}

/* About me page */
.content-about > h1, h2{
  text-align: center;
}

.content-about > p {
  text-align: justify;
  font-size: large;
}

.prom-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.prom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prom-icon i {
  font-size: 30px;
  margin-bottom: 5px;
}

/* Footer */
.footer {
  background-color: $background-page;
  color: $logo-nav-foo;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .navbar ul {
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    display: none;
  }

  .navbar ul.active {
    display: flex;
    margin-top: 20px;
  }

  .menu-toggle {
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px;
    visibility: visible;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}

@media screen and (max-width: 342px) {
  .logo {
    font-size: 15px;
  }
}