<!DOCTYPE html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Header e navbar -->
    {% include header.html %}
    <main>
      <!-- Hero -->
      <section class="home" id="home">
        <div class="content">
            <h2>printf("Welcome to my website!");</h2>
            <p>In this site I am going to upload personal projects that I have already done and that I want to do</p>
        </div>
        <div class="github">
          <a class="github" aria-label="GitHub" href="https://github.com/SaaS-28" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>